<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'vendor/semantic/semantic.min.css' %}">
    <style type="text/css">
        body > .container {
            height: 100%;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
<div class="ui container">
    {% include '_message.html' %}
    {% if user.is_authenticated %}
    <div class="ui menu">
        <a class="header item" href="{% url 'kakeibo:list' %}">
           <h5>Home</h5>
        </a>
        <div class="ui simple dropdown item"> 
            <h5>収支分析</h5>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'kakeibo:kakeibo_circle' %}"><h5>月次集計</h5></a>
                <a class="item" href="{% url 'kakeibo:kakeibo_line' %}"><h5>カテゴリ別支出推移</h5></a>
            </div>
        </div>
        <a class="item" href="{% url 'accounts:profile' %}">
            <h5>プロフィールの更新</h5>
        </a>
        <a class="right item" href="{% url 'accounts:logout' %}">
        <h5>ログアウト</h5>
        </a>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
